@import url("https://fonts.googleapis.com/css?family=Oswald:400,700|Passion+One|Bangers|Chewy|Russo+One|Fredoka+One");
@font-face { font-family: 'Blackout';
             src: url('/source/fonts/Blackout-2am.ttf') format('truetype'); }
:root {
  --main-bg-color: #F9f9f9;
  --main-txt-color: black;
  --main-box-bg-color: white;

  --main-menu-bg-color: #f1f1f1;
  --main-menu-border-color: #d3d3d3;
}


body {background-color: var(--main-bg-color); margin: 0; padding: 0; font-family: Oswald;}
a {text-decoration: none; color: var(--main-txt-color);}
a:visited {text-decoration: none; color: var(--main-txt-color);}
button {color: var(--main-txt-color);}

/* ###### Header ######*/
noscript div{position: absolute; background-color: var(--main-bg-color); width: 100%; height: 100%; z-index: 9999999999;}
noscript div div{width: 300px; height: auto; position: absolute; top: 50%; left: 50%; text-align: center;
                transform: translate(-50%, -50%); background-color: var(--main-box-bg-color); padding: 10px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)}
noscript h3{margin: 0; color: red;}

#header { background-image: linear-gradient(to right,#2B6CA3 30%, #23b4ed ); height: 60px;
        box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);}
#main-menu-btn {position: absolute; top: 13px; left: 4px; display: inline-block; cursor: pointer;}
#main-menu-btn img {width: 36px; height: 36px;}
#logo { position: absolute; top: 14px; left: 48px; text-shadow: none; font-size: 32px; display: inline-block;
        font-family: Blackout; color: white;}
#logo:hover {color: rgba(255,255,255,0.8);}

::-webkit-scrollbar {
    width: 10px; height: 10px;
}

/* Track */
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
    background: unset;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2B6CA3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2B6CA3;
    cursor: pointer;
}

/* ##### Main-Menu ##### */
#main-checkbox{ display: none;}
#main-menu{display: none; background-color: var(--main-menu-bg-color); width: 240px; height: calc(100% - 60px);
          position: absolute; z-index: 1000; box-shadow: 4px 0px 8px 0px rgba(0,0,0,0.2);}
#main-checkbox:checked ~ #main-menu { display: block; }
#main-menu nav {padding: 10px 0 10px 0; border-bottom: solid var(--main-menu-border-color) 2px;}
#main-menu .box img {width: 36px; height: 36px;}
#main-menu .box:hover img {-webkit-filter: invert(100%); filter: invert(100%);}
#main-menu .box {padding: 10px 5px 3px 20px; }
#main-menu .box:hover {color: white; background-color: rgba(43, 108, 163, 0.85);}
#main-menu .box div {display: inline-block; font-size: 20px; position: relative; top: -9px; left: 15px;}

#main-menu-options {padding: 10px 25px 10px 25px; border-bottom: solid var(--main-menu-border-color) 2px; text-align: left;}
#main-menu-options div { margin-bottom: 5px;}
#main-menu-options div:last-child { margin-bottom: 0px;}
#language-dropdwn,#main-menu-region-dropdwn {display: none;}
#language-btn, #region-btn {margin-bottom: 0px; display: inline-block; float: right; font-size: 14px; padding: 1px 5px 1px 5px;
              cursor: pointer;}
#language-btn:hover, #region-btn:hover {color: darkgrey;}
#region-dropdwn-content, #language-dropdwn-content{ display: none; background-color: var(--main-box-bg-color); position: absolute; }
#main-menu-region-dropdwn:checked + label #region-btn{ background-color: #2B6CA3; color: white;
  width: 40px; text-align: right;}
#main-menu-region-dropdwn:checked + label #region-dropdwn-content {display: block; width: 190px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); text-align: center;}
#region-dropdwn-content button{width: 47.5px; border: none; background-color: unset; font-family: Oswald;}
#region-dropdwn-content button:hover {background-color: var(--main-bg-color); cursor: pointer;}

#language-dropdwn:checked + label #language-btn{ background-color: #2B6CA3; color: white;
    text-align: right;}
#language-dropdwn:checked + label #language-dropdwn-content {display: block; width: 80px; text-align: center;
    right: 25px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);}
#language-dropdwn-content button{ width: 100%; border: none; background-color: unset; font-family: Oswald;}
#language-dropdwn-content button:hover {background-color: var(--main-bg-color); cursor: pointer;}


#main-menu-footer {position: absolute; bottom: 0; text-align: center; border-top: solid var(--main-menu-border-color) 2px;
                width: 100%;}
#main-menu-footer .links{height: 21px; margin: 5px auto 5px auto; color: grey; font-size: 14px}
#main-menu-footer .links a:hover{ color: darkgrey;}
#main-menu-footer .copyright {padding: 5px; padding-right: 10px;text-align: right; background-color: rgb(43, 108, 163);
                              color: white; font-size: 14px;}
/* ###### Search ###### */
#search-bar {position: absolute; width: 240px; left: 50%; top: 15px; margin: 0;
  transform: translateX(-50%); text-align: center; height: 30px; padding: 0;}
#search-bar input {border: none; padding: 5px 5px 5px 10px; background-color: var(--main-bg-color);
                  border-top-left-radius: 13px;border-bottom-left-radius: 13px;
                  width: 150px;height: 30px;position: absolute; left: 0; font-family: Oswald;}
#search-bar #search-region {display: inline-block; width: 40px;  height: 24px; left: 150px; cursor: pointer;
                  font-size: 14px; background-color: var(--main-bg-color); position: absolute; top: 0; text-align: center;
                   border-top-right-radius: 13px;border-bottom-right-radius: 13px; padding-top: 6px; color: #225d8e; }

#recent-searches{ display: none; position: absolute; left: 0px;  background-color: var(--main-box-bg-color); width: 130px; padding: 10px;
                  border-radius: 13px; border-top-left-radius: 0;border-top-right-radius: 0; box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
                  text-align: left; max-height: 230px; overflow-y: scroll; overflow-x: hidden; top: 30;}
#recent-searches::-webkit-scrollbar {display: none; width: 0; height: 0;}

#search-bar input:focus { outline: none;  background-color: var(--main-box-bg-color);}
#search-bar button {background-color: #225d8e; border-radius: 100%; border: none; color: white;
                  width: 30px; height: 30px; margin-left: 5px;
                  cursor: pointer; position: absolute; right: 0;}
#search-bar button:focus {outline: none;}
#region-dropdwn, #region-dropdwn-menu{ display: none; z-index: 99999;}
#region-dropdwn-menu{ position: absolute; z-index: 99999; background-color: var(--main-box-bg-color); width: 212px; padding: 10px;
                  border-radius: 13px; box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2); top: 40px; left: 4px; }
#region-dropdwn-menu h3{color:  #2B6CA3;  margin: auto auto 5px auto; padding: 0 0 5px 0;font-size: 18px;
                    border-bottom: #d3d3d3 solid 1px; width: 85%; }
#region-dropdwn-menu button {position: relative; top: auto; width: 35px; padding: 5px; background: none; color: var(--main-txt-color); font-family: Oswald; font-size: 16px;}
#region-dropdwn-menu button:hover {background-color: var(--main-bg-color); border-radius: 0;}
#region-dropdwn:checked + label #search-region {background-color: #225d8e;
                color: white; padding-top: 6px;}
#region-dropdwn:checked + label #region-dropdwn-menu{ display: block;}

#recent-searches div{border-bottom: 1px solid var(--main-bg-color); margin-bottom: 5px;}
#recent-searches div:last-child {border-bottom: none; margin-bottom: 0px;}
#recent-searches a div{width: 100px;display: inline-block; border: none;}
#recent-searches button{width: 20px; height: 20px; display: inline-block; background-color: unset; color: var(--main-txt-color);
                position: relative; }
/* ##### Login-User-Box */
#login-box {position: absolute; right: 10; top: 19; color: white;}
#login-box a{color: white;}
#login-box a:hover{color: rgba(255,255,255,0.8);}

.dropdwnpfeil {font-family: Fredoka One; font-size: 18px; display: inline-block;
   transform: rotate(180deg); -webkit-transform: rotate(180deg);}
.avatar { width: 40px; height: 40px; border-radius: 30%; }
#user-main-menu {position: absolute; right: 10; max-width: 300px; height: 40px; padding: 10px;}

#user-main-menu .dropdown-btn{ display: inline-block; position: relative; top: -12px; margin-left: 10px;
            color: white; cursor: pointer;}
#user-main-menu .dropdown-btn:hover {color: rgba(255,255,255,0.8)}
#main-user-dropdwn, #main-user-dropdwn-menu{display: none;}
#main-user-dropdwn-menu {background-color: var(--main-box-bg-color); min-width: 140px; position: absolute; top: 60px; right: -10;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);}
#main-user-dropdwn:checked ~ #main-user-dropdwn-menu{display: block;}
#main-user-dropdwn-menu ul{padding: 0; margin: 0; list-style: none;}
#main-user-dropdwn-menu li{padding: 5px; text-align: center; }
#main-user-dropdwn-menu li:hover{background-color: #2B6CA3;}
#main-user-dropdwn-menu a:hover {color: white;}
#main-user-dropdwn-menu i {margin-right: 5px;}

/*#EDEDED*/

/*##### okCookie #####*/
#okCookie {background-color: var(--main-box-bg-color); box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.2); position: absolute; bottom: 0; width: 100%; padding-top: 10px;
          z-index: 9999;}
#okCookie .wrapper {text-align: center; padding: 5px; max-width: 700px; margin: auto;}
#okCookie .wrapper .content{max-width: 500px; display: inline-block; min-height: 31px;}
#okCookie .wrapper .links {min-width: 200px; text-align: center; display: inline-block;}
#okCookie a div{ border: #2B6CA3 solid 3px; width: 70px; text-align: center; color: #2B6CA3; padding: 2px;
          display: inline-block;}
#okCookie button{ margin-left: 15px; width: 80px; background-color: #2B6CA3; padding: 5px; border: none;color: white;
          font-family: Oswald; font-size: 16px; display: inline-block; cursor: pointer;}

/* ##### page-notification #####*/
.error-notification {background-color: rgba(255,0,0,0.7); color: white; padding: 10px; text-align: center;}
.error-notification a {text-decoration: underline; color: white;}

/*##### toggleswitch #####*/
    .toggle {
    margin:0 5px 0 2px;
    position: relative;
    float: right;
    display: inline-block;
    width: 36px;
    height: 18px;
}

.toggle input {
    display: none;
}

.roundbutton {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: darkgrey;
    display: block;
    transition: all 0.3s;
    border-radius: 18px;
    cursor: pointer;
}

.roundbutton:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    border-radius: 100%;
    display: block;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: all 0.3s;
}

.toggle input:checked + .roundbutton {
    background-color: #2B6CA3;
}

 .toggle input:checked + .roundbutton:before  {
    transform: translate(18px, 0);
}
